/* ================ Home - Page ==================== */

#home {
  background: var(--homePage-Bgc);
  font-family: var(--primary-font);
  height: var(--pages-maximize-height);
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#home h1 {
  transform: translateX(15rem);
  opacity: 0;
  font-size: 10rem;
  text-shadow: 0 -10px 20px rgb(131, 159, 219);
  animation: scaling var(--animate-speed) forwards ease-in 0.3s;
}

#home p {
  font-size: 3rem;
  color: #ffffff;
  -webkit-text-shadow: 0 0 12px rgb(1, 36, 112);
  text-shadow: 0 0 12px rgb(1, 36, 112);
  opacity: 0;
  transform: translateX(-15rem);
  animation: scaling var(--animate-speed) forwards ease-in 1s;
  animation-delay: 1.5s;
}

#home button {
  width: 10%;
  cursor: pointer;
  opacity: 0;
  padding: 1rem 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
  color: #333;
  margin-top: 20rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s ease-in;
  animation: scaling var(--animate-speed) forwards ease-in 1.2s;
  animation-delay: 2.5s;
}

#home button:hover {
  background: #333;
  color: #fff;
}

@keyframes scaling {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
/* ====================== shared layout =================================== */

.active {
  color: red;
} 

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 1rem;
}

header h1 {
  font-size: 5rem;
  border-bottom: #000 1px solid;
}

footer {
  border-top: 1px solid black;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 5rem;
  font-size: 2rem;
  list-style-type: none;
  padding: 0;
}

/* =================================== Shoes - Page ===============================================*/

#ShoesPageContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  font-family: var(--primary-font);
  height: 150%;
}

#ShoesPageContainer ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 2rem;
}

#ShoesPageContainer li {
  margin-left: 10rem;
}

#ShoesPageContainer img {
  height: 25rem;
  width: 25rem;
}

#navBar {
  width: 100%;
  height: 10%;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem;
  height: 40rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.shoe-image {
  height: 35rem;
  width: 35rem;
}

/* ================Add shoe form styles ===========================  */


.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}


.form-label {
  font-weight: bold;
  font-size: 2.5rem;
}


.form-control {
  margin-bottom: 15px;
}


.error-message {
  color: red;
  font-size: 14px;
}

.edit-link {
  text-decoration: none;
  font-size: 2rem;
}

/* ======== Shoe page ============ */

.shoe-detail-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.shoe-details {
  font-size: 1.7rem;
  text-align: center;
}

.delete-btn {
background-color: rgba(232, 73, 73, 0.511);
border: none;
border-radius: 1rem;
width: 10rem;
height: 2rem;
}

/* ======================Edit shoe ====================== */

.edit-shoe-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 40rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

