
:root {
    --homePage-Bgc: url("/public/assets/photo-1577208288347-b24488f3efa5.jpg")
    no-repeat center center/cover;
    --primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    --pages-maximize-height: 100vh;
    --animate-speed: 2s;
  }